@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

body {
  font-family: "Source Sans Pro";
  color: #333;
}

.events::-webkit-scrollbar {
  width: 8px;
}

.events::-webkit-scrollbar-thumb {
  background-color: #CBCBCB;
}

.events::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

.custom-html {
  p {
    margin: 12px 0;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
    font-size: 18px;
    text-decoration: underline;
  }
}


.shimmer {
  animation: shimmer 1s infinite cubic-bezier(.61,0,.29,1);
  background: linear-gradient(to right, #f5f5f5 0%, #e2e2e2 5%, #f5f5f5 10%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

* > .on-parent-hover {
  opacity: 0;
}

*:hover > .on-parent-hover {
  opacity: 100;
}

.bg-lndk{ background: #b7004e; }
.bg-emmaus{ background: #2a6266; }
.text-emmaus{ color: #2a6266; }
.border-emmaus{ border-color: #2a6266; }
.bg-inzersdorf{ background: #139b91; }
.text-inzersdorf{ color: #139b91; }
.border-inzersdorf{ border-color: #139b91; }
.bg-neustift{ background: #f4ac11; }
.text-neustift{ color: #f4ac11; }
.border-neustift{ border-color: #f4ac11; }

.text-stroke {
  -webkit-text-stroke: 18px white;
  z-index:-1;
}

@keyframes dashdraw {
  to {
    stroke-dashoffset: 0
  }
}