@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url("https://data.eni.wien/storage/uploads/2022/08/23/SourceSansPro-Regular_uid_6304deb300d3f.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  src: url("https://data.eni.wien/storage/uploads/2022/08/23/SourceSansPro-SemiBold_uid_6304deb18f192.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  src: url("https://data.eni.wien/storage/uploads/2022/08/23/SourceSansPro-Bold_uid_6304deb2b223a.ttf");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  src: url("https://data.eni.wien/storage/uploads/2022/08/23/SourceSerifPro-Regular_uid_6304deb22e566.ttf");
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  src: url("https://data.eni.wien/storage/uploads/2022/08/23/SourceSerifPro-SemiBold_uid_6304deb27aa1d.ttf");
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  src: url("https://data.eni.wien/storage/uploads/2022/08/23/SourceSerifPro-Bold_uid_6304deb1dc999.ttf");
}

.Toastify__toast{
  @apply rounded-xl;
  @apply shadow-xl;
  color: #333;
}

body {
  font-family: "Source Sans Pro";
  color: #333;
}

/* custom scrollbar */
body ::-webkit-scrollbar {
  height: 20px;
}

body ::-webkit-scrollbar-track {
  background-color: transparent;
}

body ::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.4);
}

.custom-html {
  p {
    margin: 12px 0;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
    font-size: 18px;
    text-decoration: underline;
  }
}

.bg-emmaus{ background: #2a6266; }
.text-emmaus{ color: #2a6266; }
.border-emmaus{ border-color: #2a6266; }
.bg-inzersdorf{ background: #139b91; }
.text-inzersdorf{ color: #139b91; }
.border-inzersdorf{ border-color: #139b91; }
.bg-neustift{ background: #f4ac11; }
.text-neustift{ color: #f4ac11; }
.border-neustift{ border-color: #f4ac11; }

.text-stroke {
  -webkit-text-stroke: 8px rgba(#000, 1);
}

.clickable{
  border: 1px solid rgba(0,0,0,0.025)
}